.AssistantToolCall{
    height: auto;
    padding:0 1;
    margin:1 2 1 0;
}

.AssistantToolCall_tool_call_vertical{
    height:auto;
    width:100%;
}

.AssistantToolCall_tool_call_basic_info{
    height:auto;
    width:100%;
}

.AssistantToolCall_tool_call_basicInfo_pointer{
    height:auto;
    width:2;
}

.AssistantToolCall_tool_call_basicInfo_name{
    height:auto;
    width:auto;
}

.AssistantToolCall_tool_call_basicInfo_message{
    height:auto;
    width:100%;
}

.AssistantToolCall_tool_call_extrabody{
    height:auto;
    width:100%;
    margin-left:2;
}