.AssistantToolCall{
    height: auto;
    padding:0 1;
    margin:1 2 1 0;
}

.AssistantToolCall_tool_call_horizontal{
    height:auto;
    width:100%;
}

.AssistantToolCall_tool_call_pointer{
    height:auto;
    width:2;
}

.AssistantToolCall_tool_call_extrabody{
    height:auto;
    width:100%;
}

.AssistantToolCall_basic_error_bar{
    height:auto;
    width:100%;
}

.AssistantToolCall_basic_error_pointer{
    height:auto;
    width:2;
    color: rgba(255, 255, 255, 0.5);
}

.AssistantToolCall_basic_error_message{
    height:auto;
    width:100%;
    color: rgba(255, 255, 255, 0.5);
}