/* user_message widget 样式 */
.UserMessage{
    height: auto; /* 不写就填满父容器，消息条要贴合内容 */
    padding: 0 0 0 1;
    content-align:left middle;
    background:$primary 10%;
    margin-bottom: 1;
}

.UserMessage_user_input{
    color:$text
}